.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  color: #555;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #222;
  padding-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}